<message [popup]="popup" (complete)="onComplete($event)"></message>

<div class="container-fluid container-default" >
<div class="card border-0 p-2" >

    <nav class="navbar navbar-light text-primary pl-1" >
        <ul class="nav navbar-nav ">
            <li class="nav-item" >
            <a  class="nav-link" [routerLink]="" (click) = "goToSelectedWebsite()">Add New Website</a>
            </li>
        </ul>
    </nav>

    <form [formGroup]="searchForm" (ngSubmit)="doSearch()">
        <div class="form-group">
                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            placeholder="Search for..."
                            formControlName="searchWord"
                            />
                        <span class="input-group-btn" >
                        <button type="submit" class="btn btn-primary">
                            Go!
                        </button>
                        </span>
                </div> <!--input-group-->
        </div> <!--form-group-->
        <div class="form-group">
                <div class="custom-control custom-checkbox float-left ml-2 ">
                        <!-- <div class="checkbox checkbox-info" > -->
                            <input type="checkbox"
                                id="isPreferred"
                                formControlName="isPreferred"
                                class="custom-control-input"
                                (change) = "searchCheckboxChanged()"
                                />
                            <label  class="custom-control-label"  for="isPreferred">Preferred sites</label>
                        <!-- </div> -->
                </div>
                <div class="custom-control custom-checkbox ml-5 mb-3 float-left">
                        <!-- <div class="checkbox checkbox-info "> -->
                            <input type="checkbox"
                                id="isBill"
                                formControlName="isBill"
                                class="custom-control-input"
                                (change)="searchCheckboxChanged()"
                                />
                            <label class="custom-control-label" for="isBill">Monthly Bills</label>
                        <!-- </div> -->
                </div>
        </div> <!--form-group-->
        <div class="clearfix"></div>
        <div class="form-group ml-2 mb-0" >
            <label>Records:</label>
            <label class="ml-3" recs>{{recordsReturned}}</label>
        </div>
        <div *ngIf="websites && websites.length > 0"  >
            <table class="table  table-striped table-hover">
                <thead>
                    <tr>
                        <th >Pref</th>
                        <th >Bill</th>
                        <th >Website Name</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let website of websites"
                        role="button"
                        (click) = "goToSelectedWebsite(website)">
                       <td><i *ngIf = "website.preferred" class="fa fa-check smallFont"></i></td>
                       <td><i *ngIf = "website.isBill" class="fa fa-check smallFont"></i></td>
                       <td class="websiteName">{{website.websiteName}}</td>
                    </tr>
                </tbody>
            </table>

        </div> <!-- if websites -->




    </form>


</div><!-- card -->
</div> <!-- container-fluid -->